<h1 class="text-center mb-4">Event Listener</h1>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="activity-column">Activity</th>
            <th scope="col" class="data-column">Data</th>
            <th scope="col" class="response-column">Response</th>
        </tr>
    </thead>
    <tbody id="eventTable">
        <% events.forEach(event => { %>
            <tr>
                <td class="activity-column">
                    <%= event.activity %>
                    <br>
                    <small><%= event.timestamp %></small>
                </td>
                <td class="data-column">
                    <pre><%= event.data %></pre>
                </td>
                <td class="response-column"><%= event.response %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<script type="module">
    import setupWebSocket from '../js/websocket.js';
    setupWebSocket('eventTable');
</script>

